#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* adjust this value based on your needs */
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px; /* adjust this value based on your needs */
}
  